Tip: Download all the songs data
=button_to('Upload Song Data to AWS', admin_download_song_data_path(format: 'xls'), disable_with: "Uploading...")
%div{:style => 'margin:1rem 0'}
=button_to('Download CSV', 'https://s3.amazonaws.com/csv-mayhem/songs_data.csv',method:'get', disable_with: "Downloading...")
%div{:style => 'margin:1rem 0;border:1px solid #d4d4d4'}

%form
  %h5 Upload Song CSV here
  %input{:id => 'SongCsv',:accept => ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel", :name => "csv", :type => "file" }
  %div{:style => 'margin:1rem 0'}
%button{:style => "border-radius: 200px;padding: 7px 16px 6px;background: #133352;border: solid 1px #686868;color: #efefef;cursor: pointer;", :onClick => "uploadCsv()" } Upload Csv


:javascript
  function uploadCsv(){
    var files = document.getElementById('SongCsv').files;
    if (!files.length) {
      return alert('Please choose a file to upload first.');
    }
    var file = files[0];
    var fileName = file.name;
    var fdata = new FormData()
    fdata.append("data", file)
    $.ajax({
      method: "POST",
      url: "/admin/upload_csv",
      data: fdata,
      text: "Song",
      contentType: false,
      processData: false,
      success: function(data){
        alert("SONG CSV UPLOADED!!!")
        location.reload()
      }
    });
    }


